<div style="padding: 10px; text-align: center; color:#072573; font-family: 'K2D', sans-serif;">
   <p>Inspection request has been received, we will contact you soon.</p>
   <p> <strong>Report Code: </strong> {{reportCode}}</p>
   <p> <strong>Report Status: </strong>{{reportStatus}}</p>
</div>