<div style="padding: 10px; text-align: center; color:#072573; font-family: 'K2D', sans-serif;">
   <p> We have received a password reset request for your account. Verification code is {{link}}</p>
</div>