<div style="padding: 10px; text-align: center; color:#072573; font-family: 'K2D', sans-serif;">
   <p> Your inventally role has been changed to {{userRole}}</p>
</div>
<a href="{{link}}" style="background-color:#072573;color:#fff; display:inline-block;
            padding: 5px 35px; text-decoration: none;">InvenTally</a>