<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=K2D:wght@400;600&display=swap" rel="stylesheet"> 
    <title>Document</title>
</head>
<body style="background-image:url('{{appUrl}}/img/email_background.png');background-attachment: fixed;background-size: cover;">
    <div style="width:50%; margin:0 auto; text-align: center;">
        <div style="width: 200px; margin: 0 auto; padding: 0px 0 10px;">
            <img alt="Logo" title="Logo" src="{{appUrl}}/img/email_logo.png" style="width:50%; padding: 5px">
        </div>
        {{{body}}}
        <div style="color:#072573; text-align: center; font-family: 'K2D', sans-serif; font-size: 18px; width: 100%;margin: 0 auto;">
            <p style="margin:0; padding: 5px 0; border-bottom:2px dotted #072573;">The first independent property inventory<br>provider in the region.</p>
            <p style="margin:0; padding: 5px 0;">105, The Dome Tower, Cluster N <br>JLT, Dubai, UAE</p>
            <b style="margin:0; padding: 5px 0;">www.inventally.com</b>
            <p style="margin:0; padding: 5px 0;">sales@inventally.com</p>
            <p style="margin:0; padding: 5px 0;">Tel No. +971 4 299 3211 </p>
            <p style="margin:0; padding: 5px 0;">PO Box. 337819</p>
        </div>
    </div>
</body>
</html>
